/*Body*/
body {
    font-size: 15px;
}
body.home:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: url(../images/Groupe-43.png) no-repeat center top;
    background-size: 100% 60%;
    transform: translateY(-40%);
    z-index: -1;
}
[class^="col-"], [class*=" col-"], .row{
    padding: 0;
    margin: 0;
}
/*Sign In*/






/*Sign Up*/





/*Home*/




/*Account*/
.navigator{
    display: block;
    width: 100%;
    padding: 3rem 1.5rem;
    padding-bottom: 0;
}
 
.align-left{
   padding-top:4rem;
}




/*Menu*/






/*Help*/
main {
    text-align: center;
}
main.row{
    margin: 0;
    padding: 0;
}


/*Transfer*/

