/*Body*/
body {
    font-size: 15px;
}
body.home:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: url(../images/);
    z-index: -1;
}
[class^="col-"], [class*=" col-"], .row{
    padding: 0;
    margin: 0;
}
/*Sign In*/






/*Sign Up*/





/*Home*/





/*Account*/
.navigator{
    display: block;
    width: 100%;
}
.align-left{
   padding-top:4rem;
}




/*Menu*/






/*Help*/





/*Transfer*/

