/*Body*/
body {
    font-size: 15px;
}
body.home:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: url(../images/Groupe-43.png) no-repeat center top;
    background-size: 100% 30rem;
    transform: translateY(-20.5rem);
    z-index: -1;
}
[class^="col-"], [class*=" col-"], .row{
    padding: 0;
    margin: 0;
}
textarea {
    resize: none;
    outline: 0;
    text-align: left;
}
/*Sign In*/
<<<<<<< HEAD
header.sign-in h1 {
    color: #FFFFFF;  
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.slogan{
    color: black; 
    text-align: center;
=======
body{

}
h1{
>>>>>>> e9b945da96871539d9c2d1d61a240e1e7bde4e53

}

legend {
    /*background-color: #343434; */
<<<<<<< HEAD
    color: #343434;
=======
    color: #fff;
>>>>>>> e9b945da96871539d9c2d1d61a240e1e7bde4e53
    padding: 3px 6px;
    text-align: center;

}


label {
    display: inline-block;
    font-size: .9rem;
    width: 35%;
}

input[type='text'],
input[type='password'] {
    width: 60%;

}

input {
    margin: .3rem 0;
<<<<<<< HEAD
    padding: 2rem;
    border-radius: 2rem;


=======
>>>>>>> e9b945da96871539d9c2d1d61a240e1e7bde4e53


}

.account{
    display: inline-block;
    margin-top: 10rem;
}

.register{
    display: inline-block;
}



/*Sign Up*/





/*Home*/
main.home .wallet-container {
    background-color: transparent;
    margin-top: 4rem;
    text-align: center;
    color: white;
    font-size: 0.6rem;
    white-space: nowrap;
}
main.home .wallet-container .wallet {
    display: inline-block;
    background-image: linear-gradient(to right, rgba(252, 221, 137, 0.98), rgba(224, 100, 123, 0.98));
    -webkit-box-shadow: 0px 15px 86px -7px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 15px 86px -7px rgba(0,0,0,0.44);
    box-shadow: 0px 15px 86px -7px rgba(0,0,0,0.44);
    line-height: 3rem;
    width: 10rem;
    margin: 0 2rem;
    border-radius: 1.5rem;
    text-align: left;
    padding: 0 1rem;
    position: relative;
}
main.home .wallet-container .background {
    background-image: url(../images/Groupe-45.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
    border-radius: 0;
}
main.home .wallet-container .wallet-id, main.home .wallet-container .mail-alert {
    text-align: right;
}
main.home .wallet-container .amount {
    font-size: 1.3rem;
    font-weight: bold
}
main.home .wallet-container .mail-alert img {
    position: relative;
}
main.home .wallet-container .mail-alert span {
    display: inline-block;
    text-align: center;
    position: absolute;
    background-color: white;
    color: rgba(224, 100, 123, 0.98);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
    border-radius: 100%;
    line-height: 1rem;
    width: 1rem;
    z-index: 2;
}

/*Account*/
.navigator{
    display: block;
    width: 100%;
    padding: 3rem 1.5rem;
    padding-bottom: 0;
}
.navigator span{
    color: white;
    text-align: center;
    font-size:1.2rem;
    font-weight:600;
}
.navigator .masque{
    text-align:right;
}
.align-left{
    padding-top:4rem;
    text-align: left;
    padding-left: 1.5rem;
}
.align-left span{
    color: #5E5E5E;
    font-size:small;
}
.align-left img{
    padding-left: 2rem;
}
.latest-operation{
    padding-top: 2rem;

}
.latest-operation .title h5{
    display: inline-block;
}
.latest-operation span{
    color: #ACACAC;
}
.title-operation{
    padding-top: 2rem;
}
nav  ul {
    text-decoration: none;
}



/*Menu*/

main.menu li{

    list-style:none;
    padding: 0;
    margin:  0;
    text-align: left;

}
/*Menu*/




/*Help*/

header.help .center-text {
    text-align: center;
}
header.help span {
    color: #111111;
    font-weight: 900;
}
main.help {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-weight: 500;
}
main.help textarea {
    border-radius: 1.5rem;
    margin: 0;
}
main.help textarea {
    padding: 1rem;
    padding-left: 1.5rem;
    width: 85%;
    height: 7.5rem;
}









/*Transfer*/
header.transfer .center-text {
    text-align: center;
}
header.transfer span {
    color: #111111;
    font-weight: 900;
}
main.transfer {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-weight: 500;
}
/*Transfer*/