/*Sign In*/
body{
    
}
h1{
    
}

legend {
   /*background-color: #343434; */
    color: #fff;
    padding: 3px 6px;
}


label {
    display: inline-block;
    font-size: .9rem;
    width: 35%;
}

input[type='text'],
input[type='password'] {
    width: 60%;
    
}

input {
    margin: .3rem 0;
    

}

.account{
    display: inline-block;
}

.register{
    display: inline-block;
}



/*Sign Up*/





/*Home*/





/*Account*/





/*Menu*/






/*Help*/





/*Transfer*/

